body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    flex-wrap: wrap;
    /* Allow containers to wrap in rows */
}

.container {
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 20px;
    width: 400px;
}

label {
    font-size: 18px;
    margin-top: 10px;
    display: block;
}

.selectors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.select-container {
    display: flex;
    flex-direction: column;
}

select,
textarea,
input,
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

select:focus,
input[type="text"]:focus {
    border-color: #4582ec;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
}

textarea:focus,
input[type="text"]:focus {
    border-color: #4582ec;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#print-area,
#barcode-print-area {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}


/* Custom Box Styles */

.custom-box {
    margin-top: 20px;
    background: linear-gradient(135deg, #ff7f7f 0%, #ff4d4d 100%);
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}